@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TTLakes/TTLakes-Bold.eot');
    src: url('../fonts/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../fonts/TTLakes/TTLakes-Regular.eot');
    src: url('../fonts/TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    width: 320px;
    padding: 0;
    margin: 0;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}
.divider-line_xs {
    display: block;
}
.divider-line_sm {
    display: none;
}
.header-menu__call, .header-menu__chat, .header-menu__person {
    display: none;
}

.divider-line {
    width: 2px;
    height: 32px;
    margin-bottom: 4px;
    margin-top: 4px;
    background-color: #EAEAEA;
    border-radius: 1px;
}

@media (min-width: 768px) {
    body {
        width: 768px;
    }
    .header-menu__call, .header-menu__chat, .header-menu__person {
        display: block;
    }
    .divider-line_xs {
        display: none;
    }
    .divider-line_sm {
        display: block;
    }
    .header-menu__call {
        margin-left: 250px;
    }
}

@media (min-width: 1120px) {
    body {
        width: 1120px;
    }
    .header-menu {
        display: none;
    }
}