@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TTLakes/TTLakes-Bold.eot');
    src: url('../fonts/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../fonts/TTLakes/TTLakes-Regular.eot');
    src: url('../fonts/TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    width: 320px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.divider-line {
    width: 2px;
    height: 32px;
    margin-bottom: 4px;
    margin-top: 4px;
    background-color: #EAEAEA;
    border-radius: 1px;
}

