body {
    padding: 0;
    margin: 0;
}
button {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*Обнуление*/
@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TTLakes-Bold.eot');
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../fonts/TTLakes-Regular.eot');
    src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container {
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    width: 320px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    margin-top: 18px;
    padding-left: 16px;
    padding-right: 16px;
}
.button {
    width: 40px;
    height: 40px;
    border: none;
}
.header__burger {
    width: 40px;
    height: 40px;
    background: url('../img/burger.svg') 50%/cover no-repeat;
    border: none;
    margin-right: 16px;
}
.header__logo {
    margin-right: 16px;
}
.logo {
    width: 98px;
    height: 52px;
    background: url('../img/logo.svg') 50%/cover no-repeat;
    border: none;
}
.feedback-list {
    display: none;
}
.serves-list {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;

}
.serves-list::before {
    content: '';
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    align-self: center;
}
.button--call {
    background: url('../img/call.svg') 50%/cover no-repeat;
}
.button--chat {
    background: url('../img/chat.svg') 50%/cover no-repeat;
}
.button--person {
    display: block;
    background: url('../img/person.svg') 50%/cover no-repeat;
}
.button--repair {
    background: url('../img/repair.svg') 50%/cover no-repeat;
}
.button--search {
    display: block;
    background: url('../img/search.svg') 50%/cover no-repeat;
}





@media (min-width: 768px) {
    .container {
        width: 768px;
        margin: 18px auto;
    }
    .header {

    }






}
@media (min-width: 1120px) {
    .container {
        max-width: 1120px;
        margin: 0 auto;
    }
    .header {
        display: none;
    }
}